{
  "extends": [
    "react-app",
    "next"
  ],
  "rules": {
    "no-unused-vars": "off",
    "no-console": "warn",
    "array-element-newline": [
      "error",
      {
        "ArrayExpression": "consistent",
        "ArrayPattern": {
          "minItems": 3
        }
      }
    ]
  }
}