{
  "bracketSpacing": true,
  "semi": false,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "avoidEscape": true,
  "jsxSingleQuote": true,
  "singleAttributePerLine": false,
  "trailingComma": "es5",
  "endOfLine": "auto",
  "tabWidth": 4,
  "useTabs": true,
  "bracketSameLine": true,
  "proseWrap": "preserve",
  "whitespace": [
    true,
    "check-module"
  ],
  "jsonRecursiveSort": false,
  "printWidth": 120
}