@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --amizia-orange: #b75e18;
    --amizia-light-orange: #E29253;
    --amizia-activated-orange: #d57737;
    --amizia-disabled-orange: #e8c2a6;
    --header-background: #f5f2f2;
    --text-gray: #707070;
    --font-lightbold: 500;
    --font-Sego: 'Sego';
    --font-OPTI: 'OPTI';
}

@font-face {
  font-family: Sego;
  src: url("/fonts/Sego.otf") format("opentype");
}

@font-face {
  font-family: OPTI;
  font-weight: 400;
  src: url("/fonts/OPTIAuvantGothic-Medium.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: OPTI;
  font-weight: 600;
  src: url("/fonts/OPTIAuvantGothic-DemiBold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: OPTI;
  font-weight: 800;
  src: url("/fonts/OPTIAuvantGothic-Bold.otf") format("opentype");
  font-display: swap;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-amizia-orange: var(--amizia-orange);
    --color-amizia-light-orange: var(--amizia-light-orange);
    --color-amizia-activated-orange: var(--amizia-activated-orange);
    --color-amizia-disabled-orange: var(--amizia-disabled-orange);
    --color-header-background: var(--header-background);
    --color-text-gray: var(--text-gray);

    /* Fonts */
    --font-family-Sego: 'Sego', sans-serif;
    --font-family-OPTI: 'OPTI', sans-serif;

}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

button {
  @apply rounded-xl; /* 0.75rem = 12px */;
  &:hover{
    cursor: pointer;
  }
}

h2 {
    font-family: var(--font-family-Sego), sans-serif;
}

p {
  @apply font-family-OPTI;
}

.footer-separator {
  width: calc(var(--spacing, 1rem) * 0.5);
  height: calc(7 / 10 * 100%);
  background-color: var(--color-white);
  border-radius: 0.25rem;
}

.word-small-gap{
  word-spacing: 0.1em;
}

.transition-header{
  @apply transition-all duration-300 ease-in-out;
}

.classicButton{
  @apply
  border-2 border-neutral-500
  hover:border-amizia-orange hover:bg-amizia-orange hover:text-white
  transition-all duration-150
  active:scale-95 active:brightness-95
}
